.books {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem; }
  .books__header {
    border: 1px solid #eee;
    background-color: #fff;
    border-radius: 3px;
    margin-top: 1rem;
    grid-column: span 2;
    padding: 2rem;
    font-size: 2.4rem;
    font-weight: 300; }
    .books__header span {
      font-weight: 600; }
