.header {
  height: 5.5rem;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  padding: 2rem;
  display: flex;
  align-items: center;

  &__brand {
    font-size: 3rem;
    font-weight: 300;
    font-family: $font-main;
    margin-right: 1rem;
    color: $navy;
  }
  &__link {
    font-size: 1.8rem;
    text-decoration: none;
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    letter-spacing: -0.5px;
    background-color: transparent;
    border-radius: 3px;
    transition: all 0.3s;
    color: $navy;

    &:hover {
      background-color: whitesmoke;
    }

    &--signup {
      border: 2px solid $navy;
      padding: 0.3rem 1rem;
      font-weight: 600;

      &:hover {
        background-color: $navy;
        color: white;
      }
    }

    &--postBook {
      background-color: whitesmoke;

      &:hover {
        background-color: darken(whitesmoke, 3%);
      }
    }
  }
}

.header__left {
  display: flex;
  align-items: center;
  flex: 1;
}

.header__right {
  display: flex;
  align-items: center;
}

.header .container {
  display: flex;
}

.header__user {
  padding: 0 1rem;
  margin-left: 1rem;
  font-size: 1.8rem;
  display: flex;
  position: relative;
  align-items: center;
  cursor: pointer;
  img {
    width: 3rem;
    height: 3rem;
    border-radius: 5px;
  }
  i {
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
  }

  &__menu {
    z-index: 10;
    position: absolute;
    background-color: white;
    top: 6rem;
    right: 0;
    border: 1px solid #eee;
    border-radius: 4px;

    &__label {
      padding: 0.5rem 1rem;
      cursor: default;
      border-bottom: 1px solid #eee;
    }

    &__item {
      padding: 0.5rem 1rem;
      width: 17rem;

      &:hover {
        background-color: darken(white, 3%);
      }
    }

    &::before {
      position: absolute;
      top: -7px;
      right: 15px;
      display: inline-block;
      border-right: 7px solid transparent;
      border-bottom: 7px solid #ccc;
      border-left: 7px solid transparent;
      border-bottom-color: darken(#eee, 5%);
      content: "";
    }

    &::after {
      position: absolute;
      top: -6px;
      right: 16px;
      display: inline-block;
      border-right: 6px solid transparent;
      border-bottom: 6px solid white;
      border-left: 6px solid transparent;
      content: "";
    }
  }
}
