.modalContact {
  position: absolute;
  outline: none;
  top: 15rem;
  left: 40rem;
  right: 40rem;

  display: grid;
  grid-template-columns: 4fr 2fr;
  grid-template-rows: repeat(5, min-content);
  grid-row-gap: 1rem;
  padding: 1rem 2rem;
  background-color: #fff;
  border: 2px solid #eee;
  box-shadow: 5px 5px 50px #ddd;
  border-radius: 3px;
  font-size: 1.6rem;

  &__title {
    grid-column: span 1;
    font-size: 2rem;
    font-weight: 600;
  }

  &__close {
    grid-column: span 1;
    align-self: start;
    justify-self: end;
    font-size: 4rem;
    width: 4rem;
    background: transparent;
    border: none;
    outline: none;
    opacity: 0.5;
    cursor: pointer;
  }

  &__course {
    grid-column: span 2;
    font-size: 1.6rem;

    span:nth-of-type(1) {
      font-weight: 600;
      margin-right: 0.5rem;
    }
  }
  &__desc {
    grid-column: span 2;
  }
  &__date {
    grid-column: span 1;
    justify-self: start;
    align-self: center;
  }
  &__price {
    grid-column: span 1;
    font-size: 1.8rem;
    font-weight: 600;
    justify-self: end;
  }

  &__sellerInfo {
    grid-column: span 2;
    border-top: 1.5px solid #eee;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    &--heading {
      p {
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 1;
      }
    }

    &--email,
    &--phone {
      align-self: flex-end;
    }
  }

  &__inquiry {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .textarea {
      @include formField;
      &__input {
        font-size: 1.6rem;
        padding: 1rem;
        min-height: 8rem;
      }
    }

    &--submit {
      @include button;
      font-size: 1.6rem;
      height: 3.5rem;
      width: 7rem;
    }
  }
}
