@mixin button {
  display: inline-block;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  margin: 0 0.5rem;
  height: 4rem;
  width: 9rem;
  font-size: 1.8rem;
  color: white;
  background-color: $navy;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;

  &:hover {
    background-color: darken($navy, 7%);
  }
}

@mixin greyButton {
  align-self: flex-start;
  font-size: 1.8rem;
  padding: 1rem;
  background-color: whitesmoke;
  border-radius: 4px;
  transition: all 0.2s;

  &:hover {
    background-color: darken(whitesmoke, 2%);
  }
}

@mixin formField {
  margin: 0.5rem 0;
  align-self: stretch;

  &__input {
    font-family: $font-main;
    font-size: 1.8rem;
    outline: none;
    width: 100%;
    height: 4rem;
    border: 2px solid $off-white;
    border-radius: 3px;
    padding-left: 1rem;
    margin-bottom: 0.5rem;
    transition: all 0.2s;
    &--invalid {
      border-color: red;
      &::placeholder {
        color: red;
      }
    }
    &:focus {
      border-color: $navy;
      &::placeholder {
        color: currentColor;
      }
    }
  }

  &__info,
  &__error {
    line-height: 1;
    padding: 0.2rem 1rem;
    font-size: 1.6rem;
  }

  &__label {
    font-size: 1.8rem;
    padding-left: 1rem;
  }

  &__error {
    color: red;
  }
}
